#######开放模式############
###############
#    目录     #
###############

###############
#   编译文件  #
###############
*.slo
*.lo
*.o
*.so
*.sdf
*.ncb
*.suo
*.pch
*.pdb
*.idb
*.exp
*.map
*.lai
*.la
*.opensdf
*.tlog
*.log
*.unsuccessfulbuild
*.cache
*.obj
*.res
*.lastbuildstate
*.ipch
*.rc
*.manifest
###############
#  临时文件   #
###############

###############
#  生成文件   #
###############

###############
#    脚本     #
###############
